.outer{
    background: url("./login.jpeg");
    height: 668px;
    background-size: cover;
}
.content{
    /* background: url(https://source.unsplash.com/random); */
}
.container{
    position: relative;
    top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: space-around;
    width: 25rem;
    border: 2px solid #91b7e3;
    /* padding-bottom: 19px; */
    background: #ffffff;
    border-radius: 5px;
    height: 265px;
    flex-wrap: wrap;

}
.container h1{
    font-size: 30px;
    text-align: center;
    position: relative;
    top: 30px;
    color: #6c9fda;
}
.inputcontainer{
    float: right;
    width: 15rem;

    border: 2px solid;
    border-color: #dcdada;
    height: 30px;
    /* box-shadow: 0 0 5pt 2pt #D3D3D3; */
  
}
.inputcontainer:hover{
    box-shadow: 0 0 5pt 2pt #D3D3D3;
}
.labelcontainer{
    padding-left: 0px;
    padding-right: 30px;
}
.btn{
    background-color: #91b7e3;
}