.Rcontainer{

    display: flex;
    align-content: center;
    justify-content: space-around;
    background: url("./register.jpeg");
    background-size: cover;
    background-position-y: center;
    background-repeat: no-repeat;
    height: 668px;
    flex-wrap: wrap;
    align-items: center;
}
.Rcontainer p{
    justify-items: center;
    align-items: center;
    font-family: -webkit-pictograph;
    color: #ffffff;
}
.form-title{
    text-align: center;
    font-size: 30px;
}
.Rinputcontainer{
    float: right;
    width: 15rem;
    border: 2px solid;
    border-color: #dcdada;
    height: 30px;
    
}
.Rinputcontainer:hover{
    box-shadow: 0 0 5pt 2pt #D3D3D3;
}
.Rlabelcontainer{
    padding-left: 0px;
    padding-right: 30px;
}
.form-group{
    display: flow-root;
    padding-top: 12px;
}
.register-form{

    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    width: 25rem;
    background: #ffffff;
    border: 2px solid #91b7e3;
    border-radius: 5px;
    height: 21rem;
    flex-wrap: wrap;
}
.form-submit{
  
    display: block;
    margin: auto;
    width: -webkit-fill-available;
    border: none;
    background: #91b7e3;
    height: 32px;
}